/FieldPlant-11/cropped/
/FieldPlant-11/train/
/images/
/PlantDoc-Dataset/test/
/PlantDoc-Dataset/train/
/PDDD/model/
/PDDD/database/
/PDDD/Codes/utils/LSTM.mdl
/PDDD/Codes/ResNet_18.mdl 
/FieldPlant-11/ViT_L.std_tomatocropped.index