/FieldPlant-11/cropped/
/FieldPlant-11/train/
/FieldPlant-11/no_use/
/FieldPlant-11/ViT_L.std_tomatocropped.index
/images/
/PlantDoc-Dataset/test/
/PlantDoc-Dataset/train/
/PDDD/model/
/PDDD/database/
/PDDD/Codes/utils/LSTM.mdl
/PDDD/Codes/ResNet_18.mdl 
/checkpoints/
/lightning_logs/